<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Viking Plumbing</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Viking Plumbing</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Commitment to Perfection
        <br>
        BBB Award Winner
        <br>
        Bonded & Insured
        <br>
        Serving Puget Sound since 1996
</h2>
      <a href="#signup" class="btn btn-primary js-scroll-trigger shadow">Request an appointment</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">About Us</h2>
        <p class="text-white-50 my-3">Matt Ross, Owner</p>
        <p class="text-white-50 my-3">Viking Plumbing & Rooter was founded in 1996 to serve property management companies and real estate with the best plumbing and drain cleaning service possible. Since then, our mission and services have expanded to fit every need in, or out of your home. Viking Plumbing & Rooter has grown one man to an entire team of hard-working people delivering the best service in the Greater Seattle Area.</p>
        <p class="text-white-50 my-3">Being a plumber for 33 years and owning my own business for 23 years in the Puget Sound has made me one of the top plumbing contractors in the state of Washington. Throughout the last 23 years of working for multi-family housing, I have seen just about everything in the trade that you can see. My team and I will, and always have provided the best craftsmanship that this trade can give to you.</p>
        <p class="text-white-50 my-3">All of the equipment is owned and operated by Viking Plumbing & Rooter.</p>
        <p class="text-white-50 my-3">Lic #: VIKINGPRO32DE</p>
      </div>
    </div>
    <img src="img/ipad.png" class="img-fluid" alt="">
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Services</h4>
          <p class="text-black-50 mb-0">Viking Plumbing and Rooter offers a wide range of residential/in-home and commerical property services.</p>
        </div>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left p-4">
              <h4 class="text-white">Residential</h4>
              <ul class="mb-0 text-white-50 list-unstyled">
                <li>Excavation/landscaping services</li>
                <li>Bathroom/bathtub drain cleaning</li>
                <li>Toilet clearing/repair</li>
                <li>Sink fixture and faucet repair</li>
                <li>Shower fixture and drain repairs</li>
                <li>Kitchen sink repiping and drain cleaning</li>
                <li>Washing machine installation/repairs</li>
                <li>Dishwasher installation/repairs</li>
                <li>Sewer line inspections and leak repairs</li>
                <li>Septic systems</li>
                <li>Water heater installations and maintenance</li>
                <li>Pipe replacement/repair of broken, blocked, or corroded pipes</li>
              </ul>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right p-4">
              <h4 class="text-white">Commerical</h4>
              <ul class="mb-0 text-white-50 list-unstyled">
                <li>Excavation/landscaping services</li>
                <li>Plumbing replacement/repair</li>
                <li>Plumbing retro-fit: complete replumb of property (sewer/water)</li>
                <li>Water, Sewer, and Gas</li>
                <li>Drain cleaning</li>
                <li>Water jetting</li>
                <li>Camera inspections</li>
                <li>Downspout replacement/repair</li>
                <li>Conveyance/rainwater system cleaning and replacement</li>
                <li>Building foundation footing systems cleaning/replacement</li>
              </ul>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">

        <i class="far fa-calendar fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Request an appointment!</h2>
        {{#if error}}
            <div class="alert alert-danger mr-0 mr-sm-2 mb-3 mb-sm-0" role="alert">
              <h4 class="alert-heading">Whoa!</h4>
          {{#each error}}
              <p>{{this}}</p>
          {{/each}}
            </div>
        {{/if}}
        {{#if success}}
            <div class="alert alert-success mr-0 mr-sm-2 mb-3 mb-sm-0" role="alert">
              <h4 class="alert-heading">Thank You!</h4>
              <p>{{success}}</p>
            </div>
        {{/if}}
        <form action="/appointment" method="POST">
          <div class="form-inline d-flex mx-auto m-0 py-0">
            <div class="form-group my-2 flex-fill my-0">
              <input type="text" class="form-control form-control-lg mr-0 mr-sm-2 mb-3 mb-sm-0 flex-fill" id="fname"
                name="fname" placeholder="Enter first name...">
            </div>
            <div class="form-group my-2 flex-fill m-0">
              <input type="text" class="form-control form-control-lg mr-0 mr-sm-2 mb-3 mb-sm-0 flex-fill" id="lname"
                name="lname" placeholder="Enter last name...">
            </div>
          </div>
          <div class="form-group my-2 form-inline d-flex mt-0">
            <input type="email" class="form-control form-control-lg mr-0 mr-sm-2 mb-3 mb-sm-0 flex-fill" id="email"
              name="email" placeholder="Enter email address...">
          </div>
          <div class="form-group my-2 form-inline d-flex">
            <input type="email" class="form-control form-control-lg mr-0 mr-sm-2 mb-3 mb-sm-0 flex-fill" id="confirm"
              name="confirm" placeholder="Confirm your email">
          </div>
          <div class="form-group my-2 form-inline d-flex">
            <textarea class="form-control form-control-lg mr-0 mr-sm-2 mb-3 mb-sm-0 flex-fill" id="problem" name="problem"
              rows="3" placeholder="What's the problem?"></textarea>
          </div>
          <div class="g-recaptcha d-flex justify-content-center mt-2" data-sitekey="6LdOxYoUAAAAAAfXN34pPfNE668p2psiBUDJxUcp"></div>
          <button type="submit" class="btn btn-primary mx-auto">Request Appointment</button>
        </form>

      </div> 
    </div>
  </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">

    <div class="row">

      <div class="col-md-3 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4">
            <div class="small text-black-50">PO Box 777 <br> Kent, WA 98035
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="mailto:vikingp@comcast.net">vikingp@comcast.net</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4">
            <div class="small text-black-50">(253)332-4692</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="far fa-clock text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Hours</h4>
            <hr class="my-4">
            <div class="small text-black-50">Monday-Friday 9a-5p</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
        <div class="card text-center my-3">
          <div class="card-body">
            <i class="far fa-clock fa-3x text-primary mb-2"></i>
            <br>
            <h4 class="text-uppercase m-0">Business Hours</h4>
            <hr class="my-4">
            <div class="small text-black-50">Monday-Friday 9a-5p</div>
          </div>
        </div>
      </div> -->

  {{!-- <div class="social d-flex justify-content-center">
    <a href="#" class="mx-2">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="mx-2">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="mx-2">
      <i class="fab fa-yelp"></i>
    </a>
  </div> --}}

  </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; Viking Plumbing 2018 <br> License #: VIKINPR032DE
  </div>
</footer>